<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <!-- This is for the file upload (blob) -->
  <servlet>
    <servlet-name>newMenuItem</servlet-name>
    <servlet-class>com.company.comanda.peter.server.NewMenuItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newMenuItem</servlet-name>
    <url-pattern>/newMenuItem</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.company.comanda.peter.server.guice.ComandaGuiceServletContextListener</listener-class>
  </listener>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Comanda_peter.html</welcome-file>
  </welcome-file-list>

</web-app>
